body {
    background-image: url('./image/home.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content{
    margin: auto;
    margin-top: 15%;
    text-align: center;
}
.content input{
    opacity: .8;
}
  .short-link{
      position: relative;
      margin: auto;
      width: fit-content;
}

#output{
    display: none;
}