body {
    background-image: url('./image/home.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav a{
    max-width: fit-content !important;
    background-color: transparent !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: 20px;
}

nav a.active{
    color: #007bff !important;
}

nav a.active:hover {
    background-color: #007bff !important;
    color: white !important;
}

nav a:hover {
    background-color: rgb(75, 73, 73) !important;
    color: white !important;
}

nav .logout:hover{
    background-color: #dc3545 !important;
}

.content{
    margin: auto;
    margin-top: 15%;
    text-align: center;
}
.content input{
    opacity: .8;
}
  .short-link{
      position: relative;
      margin: auto;
      width: fit-content;
}

#output{
    display: none;
}